/datasets/luftklima_reformatted.csv
/datasets/luftklima.csv
/datasets/feinstaub_tram.csv
/datasets/verkehrszählungen.csv
/datasets/verkehrszählungen_reformatted.csv
/datasets/verkehrszählungen_reformatted_update.csv
*.icloud